@import './font.css';
@import './variables.css';
@import './common.css';
@import './scrollbar.css';

* {
  box-sizing: border-box;
  font-family: 'pretendard', sans-serif !important;
}

body {
  background-color: #000 !important;
  color: var(--color);
}
